@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: white;
  font-size: 60px;
}

button {
  left: 45%;
  right: 45%;
  position: absolute;
  font-size: 50px;
  background: rgb(235, 105, 105);
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li img {
  width: 160%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) img {
  background: black;
}

.slideshow li:nth-child(2) img {
  animation-delay: 10s;
}

.slideshow li:nth-child(3) img {
  animation-delay: 20s;
}

.slideshow li:nth-child(4) img {
  animation-delay: 30s;
}

.slideshow li:nth-child(5) img {
  animation-delay: 40s;
}

/* Older browser support - .no-cssanimations class added by modernizr */

.no-cssanimations .slideshow li {
  opacity: 1;
}
