h3 {
  font-size: 30px;
}

.product-nav p {
  background: rgba(0, 0, 0, 0.2);
}

/* Product List */
.ListTransition-enter {
  opacity: 0.01;
}

.ListTransition-enter.ListTransition-enter-active {
  opacity: 1;
  transition: all 0.2s ease;
}

.ListTransition-leave {
  opacity: 1;
}

.ListTransition-leave.ListTransition-leave-active {
  opacity: 0.01;
  transition: all 0.2s ease;
}

/* Scrollbar */
.list-container::-webkit-scrollbar {
  width: 4em;
  margin-bottom: 40px;
}
.list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.list-container::-webkit-scrollbar-thumb {
  width: 8em;
  background: black;
  height: 60px;
  background: red;
  -webkit-border-radius: 5px;

}
.list-container::-webkit-scrollbar-button {
  height: 60px;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-right: 70px solid black;
  background: red;
  -webkit-border-radius: 5px;
}
