@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  line-height: 2;
  font-family: "Lato", sans-serif;
  background: rgb(243, 243, 44);
  background: -moz-linear-gradient(
    left,
    rgb(245, 245, 36) 0%,
    rgb(209, 32, 32) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgb(245, 245, 36)),
    color-stop(100%, rgb(209, 32, 32))
  );
  background: -webkit-linear-gradient(
    left,
    rgb(245, 245, 36) 0%,
    rgb(209, 32, 32) 100%
  );
  background: -o-linear-gradient(
    left,
    rgb(245, 245, 36) 0%,
    rgb(209, 32, 32) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgb(245, 245, 36) 0%,
    rgb(209, 32, 32) 100%
  );
  background: linear-gradient(
    to right,
    rgb(245, 245, 36) 0%,
    rgb(209, 32, 32) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f1e767",
      endColorstr="#fc468f",
      GradientType=1
    );
}

p {
  padding: 5px;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
